<<<<<<< HEAD

.chat-header {
    /* height: 80px; */
    position: relative;
    padding: 15px 10px;
    border-bottom: 3px solid navy;
}

=======
>>>>>>> 63fa0da392f0d0e4f2d2a88453d06eff1cebd7b1
.chat-header img {
    position: relative;
    float: left;
    border-radius: 40px;
    height:100% ;
    width: fit-content;
    overflow: hidden;

}
.chat-header-about {
    margin-left: 40%;
    float: left;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sign-out-button{
    float: right;
<<<<<<< HEAD
    right: 20px;
}

/* @media only screen and (max-width: 767px) {
=======
}

>>>>>>> 63fa0da392f0d0e4f2d2a88453d06eff1cebd7b1


<<<<<<< HEAD
} */
=======
/*.chat-header {*/
/*    height: 80px;*/
/*    position: relative;*/
/*    padding: 15px 10px;*/
/*    border-bottom: 2px solid #f4f7f6;*/
/*}*/

/*.chat-header img {*/
/*    float: left;*/
/*    position: absolute;*/
/*    left: 20px;*/
/*    border-radius: 40px;*/
/*    width: 50px*/
/*}*/

/*.chat-header-about{*/
/*    position: absolute;*/
/*    left: 80px;*/
/*    top: 20px;*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    width: 450px;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    text-overflow: ellipsis;*/
/*}*/
/*.sign-out-button{*/
/*    position: absolute;*/
/*    float: right;*/
/*    right: 20px;*/

/*}*/

/*@media only screen and (max-width: 767px) {*/

/*    .chat-app .chat .chat-header {*/
/*        border-radius: 0.55rem 0.55rem 0 0*/
/*    }*/

/*}*/
>>>>>>> 63fa0da392f0d0e4f2d2a88453d06eff1cebd7b1
