html {
    height: 100%;
}

#root {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

body {

    display: flex;
    width: 100%;
    height: 100%;
    background: url("background.jpg") no-repeat center;
    background-size: cover;
}

.col {
    padding: 0;
}

.chat-screen {
    display: flex;
    padding: 0;
    background: black;
    opacity: 0.75;
    color: white;
    width: 100%;
    height: 100%;
    border: 3px solid navy;
    flex-direction: column;
    gap: 20px;
}

.chat-page {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*START OF THE LEFT SIDE OF THE MAIN CONTAINER - PROFILE AND LIST*/
.left-menu {
    padding: 0;
    height: 100%;
}

.left-menu-container {
    padding: 0;
    height: 100%;
    width: 100%;
}

.profile-header-class {
    padding: 0 0 0 12px;
    position: relative;
    height: 15.5%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-right: 3px solid white;
}

.profile-header {
    padding: 1px;
    text-align: center;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search-tn {
    margin: 0;
    position: relative;
    height: 7%;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
    border-right: 3px solid white;
}

.contact-search {
    height: 100%;
    padding: 0;
    position: relative;

}

.new-contact-btn {
    /*width: 100;*/
    height: 100%;
    padding: 0;
    position: relative;
}

.error-message {
    margin: 0;
    position: relative;
    height: 7%;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
    border-right: 3px solid white;
}

.alert-primary {
    height: 100%;
    width: 100%;
    text-align: center;
}

.contact-list {
    padding: 0 12px 0 12px;
    margin: 0;
    width: 100%;
    height: 77.5%;
    overflow-y: auto;
    border-right: 3px solid white;
}

.clearfix::marker {
    color: black;
}

.people-list {
    height: 100%;
    text-overflow: ellipsis;
}

/*END OF THE LEFT SIDE OF THE MAIN CONTAINER - PROFILE AND LIST*/


/*START OF RIGHT SIDE OF THE MAIN CONTAINER - CHAT*/
.chat-menu {
    padding: 0;
    height: 100%;
}

.chat-menu-container {
    padding: 0;
    height: 100%;
    width: 100%;
}

.chat-header-class {
    padding: 0 0 0 12px;
    position: relative;
    height: 15.5%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.chat-header {
    padding: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.chat-history-class {
    margin: 0;
    width: 100%;
    height: 77.5%;
    overflow-y: auto;
}


.chat-message-box {
    margin: 0;
    position: relative;
    height: 7%;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
}

.chat-message {
    height: 100%;
}
/*END OF RIGHT SIDE OF THE MAIN CONTAINER - CHAT*/


/* Style for or all the scrollbar in ChatPage */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: navy;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}


/*only in Large devices*/
@media all and (min-width: 1200px) {
    .chat-screen {
        width: 1150px;
    }
}

@media all and (min-height: 650px) {
    .chat-screen {
        height: 600px;
    }
}