
.chat-app .new-contact {
    margin-top: 85px;
    margin-left: 230px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;

}

#new-contact-button {
    position:relative;
    font-weight: bold;
      
}

#new-contact-button:hover {
    background: #5bc0de;
    border-color: #5bc0de;
    cursor: pointer;
}


#modal-textbox {
    position: relative;
}




