.chat-list {
    padding: 1px;
    height: 100%;
}

.chat-list img{
    margin-top: 3% ;
    float: left;
    border-radius: 40px;
    height:75% ;
    width: fit-content;
    overflow: hidden;
}
.chat-list li{
    height: 20%;
    padding: 1%;
    border-radius: 10px;
    
}
.chat-list li .name-latestMessage{
    margin-left: 10%;
    margin-top: 5%;
    float: left;
    font-size: medium;
    /* display: flex; */
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }

.chat-list li .latestMessage-time{
    margin-right: 5%;
    float: right;
    font-size: medium;
    /* display: flex; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-list li:hover {
    background: cornflowerblue;
    cursor: pointer
}


/*
.chat-list {
    padding: 1px;
    height: 100%;
}

.chat-list img{
    float: left;
    border-radius: 40px;
    height:100% ;
    width: fit-content;
    overflow: hidden;
}
.chat-list li{
    height: 20%;
    padding: 1%;
}
.chat-list li .name-latestMessage{
    margin-left: 10%;
    float: left;
    font-size: medium;
    /* display: flex; *//*
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }

.chat-list li .latestMessage-time{
    margin-right: 5%;
    float: right;
    font-size: medium;
    /* display: flex; *//*
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-list li:hover {
    background: cornflowerblue;
    cursor: pointer
}
*/