.contact-search {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}


.chat-app .contact-search {
    margin-top: 85px;
    width: 270px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
}

/* .form-control {
    position:absolute;
} */

#basic-addon2 {
    position:relative;
}

#contact-search-box{
    height: auto;
}

