<<<<<<< HEAD
 /* .chat-message {
    padding: 20px
} */

#send-message-box {
    height: auto;
}

=======
.input-group-prepend,.btn-group,.fa-send,.fa{
    height: 100%;
}
#get_file ,#get-audio ,#get_video,#send-message-box,#send-button{
    height: 100%;
}
>>>>>>> 63fa0da392f0d0e4f2d2a88453d06eff1cebd7b1
