
/******************************************************/
input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
/******************************************************/


/*Background of info, sign in and sign up*/
.sign-info-background {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    height: 100%;
    width: 90%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.75;
    background: black;
}

/*Error message*/
.error {
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 8px 0 rgba(255,0,0,1);
}

/*Title*/
.title {
    font-size: 25px;
    text-align: center;
    /*margin-top: 0px;*/

}
/*Input container*/
.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}
#details{
    display: none;
}

/*only in Large devices*/
@media all and (max-width: 992px) {
    #info {
        display: none;
    }

    /*Animation*/
    .slide-animation {
        animation: none;
    }

    .slide-animation2 {
        animation: none;
    }
    #details{
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .sign-info-background{
        width: 80%;
    }
}