/*Main container*/
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: white;

}

/*Main background*/
.main-div {
    background-image: url("background.jpg");
}

/*All buttons (sign and submit)*/
#button-container {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px 20px;
    background: black;
    border-color: white;
}

/*Animation*/
.slide-animation {
    height: 100vh;
    width: 100vh;
    animation: App-logo-spin linear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slide-animation2 {
    height: 100vh;
    width: 100vh;
    animation: App-logo-spin2 linear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes App-logo-spin {
    from {
        transform: translateX(0);
        animation-iteration-count: 1;
    }
    to {
        transform: translateX(80vh);
        animation-iteration-count: infinite;
    }
}

@keyframes App-logo-spin2 {
    from {
        animation-iteration-count: 1;
        transform: translateX(0vh);
    }
    to {
        transform: translateX(-80vh);
        animation-iteration-count: infinite;
    }
}