/*Main container*/
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: white;

}

/*All buttons (sign and submit)*/
#button-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
    background: black;
    border-color: white;
}

/*Animation*/
.slide-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 90vh;
    animation: App-logo-spin linear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slide-animation2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:90vh;
    width: 90vh;
    animation: App-logo-spin2 linear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes App-logo-spin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes App-logo-spin2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}