.profile-header img {
    position: relative;
    float: left;
    border-radius: 40px;
    height: 75%;
    width: fit-content;
    overflow: hidden;
    margin-top: 3%;

}
.profile-header-about {
    margin-left: 7%;
    margin-top: 3%;
    float: left;
    height: 100%;
    width: 50%;
    font-size: x-large;
    font-weight: bold;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/
}