<<<<<<< HEAD
/* .profile-header {
    width: 300px;
    height: 80px;
    position: absolute;
    padding: 15px 10px;
    border-bottom: 2px solid #f4f7f6;
} */

=======
>>>>>>> 63fa0da392f0d0e4f2d2a88453d06eff1cebd7b1
.profile-header img {
    position: relative;
<<<<<<< HEAD
    margin-left: 20px;
=======
    float: left;
>>>>>>> 63fa0da392f0d0e4f2d2a88453d06eff1cebd7b1
    border-radius: 40px;
    height:100% ;
    width: fit-content;
    overflow: hidden;

}


.profile-header-about {
<<<<<<< HEAD
    font-size: 16px;
    font-weight: bold;
=======
    margin-left: 10%;
    float: left;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    overflow: hidden;
>>>>>>> 63fa0da392f0d0e4f2d2a88453d06eff1cebd7b1
}