



.profile-header img {
    position: relative;
    float: left;
    border-radius: 40px;
    height: 75%;
    width: fit-content;
    overflow: hidden;
    margin-top: 6%;

}


.profile-header-about {
    margin-left: 7%;
    float: left;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    margin-top: 10%;
}

/* .profile-header img {
    position: relative;
    float: left;
    border-radius: 40px;
    height:100% ;
    width: fit-content;
    overflow: hidden;

}


.profile-header-about {
    margin-left: 10%;
    float: left;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    overflow: hidden;
} */